---
import SiteMeta from "../components/SiteMeta.astro"
---

<!DOCTYPE html>
<html>
  <head>
    <SiteMeta />
  </head>
  <body>
    <style lang="scss" is:global>
      :root {
        font-family: "Oxygen", sans-serif;
      }
    </style>
    <p>There's nothing here yet, but there will be soon!</p>
    <p>- RT</p>
  </body>
</html>
